/* Import fonts from fonts.css */
@import url("./fonts.css");

/* CSS Variables */
@import url("./partials/variables.css");

/* Start of navigation */
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 10rem;
  background-color: whitesmoke;
}

.header-area .main-menu .nav-item .nav-link {
  font: sans-serif 500 15px/2px var(--montserrat);
  font-size: small;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: var(--title-color);
}

.header-area .main-menu .btn {
  font: sans-serif 500 15px/2px var(--montserrat);
  font-size: small;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.header-area .main-menu .custom_contact_btn {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-primary-color);
}

.header-area .main-menu .custom_contact_btn:hover {
  background-color: var(--button-hover-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-primary-color);
}

.header-area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* End of navigation */

/* Banner Area */
.site-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/background-img2.png);
    padding-top: 10rem;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: whitesmoke;
}

.site-main .site-banner .banner-image {
  background: url(../img/banner-back.png) no-repeat 70% 50%;
  background-size: 20rem 30rem;
  background-position-x: 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 20%;
  font-weight: 300;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: whitesmoke;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 3rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.25rem;
}

.site-main .site-banner .banner-image {
  text-align: center;
}
.site-main .site-banner .banner-image > img {
  padding: 4rem 0;
  height: 35rem;
}

.title-text {
  font: normal 500 50px/53px var(--playfair_display);
}

.description-text {
  font: normal 400 18px/27px var(--montserrat);
}

/* Banner Area */
